<style>
body{
    margin:50px;
    padding:20px;
    
}
#border_box{
        width:300px;
        height:300px;
        border:10px black;
        border-style: double none double none;
        border-width: 3px 3px 3px 3px;
        border-color:black black black black;
        padding:10px;
        margin:20px;
}

</style>
<head>
    
</head>
<body>
    <div class="container" align='center'>
            <form action="{%url 'signup'%}" method="post">
                {%csrf_token%}
                <div id="border_box">
                    <h1>회원가입</h1>
                    <div align="rignt">
                        아이디  
                        <input name="username" type="text" value="">
                        <br>
                        <br>
                        비밀번호   
                        <input name="password1" type="password" value="">
                        <br>
                        <br>
                        비밀번호 확인   
                        <input name="password2" type="password" value="">
                        <br>
                        <br>
                        <input class="btn btn-primary" type="submit" value="회원가입">
                    </div>
                </div>
            </form>

    </div>
</body>
<center>
    <img src="/static/DH2.png">
</center>