<style>
body{
    margin:50px;
    padding:20px;
}
#border_box{
    margin:20px;
    padding:10px;
}
</style>
<head>
    
</head>
<body>
    <div class="container" align='center'>

            <h1>회원가입</h1>
            <form action="{%url 'signup'%}" method="post">
                {%csrf_token%}
                <div id="border_box">
                    <div align="rignt">
                        아이디  
                        <input name="username" type="text" value="">
                        <br>
                        <br>
                        비밀번호   
                        <input name="password1" type="password" value="">
                        <br>
                        <br>
                        비밀번호 확인   
                        <input name="password2" type="password" value="">
                        <br>
                        <br>
                        <input class="btn btn-primary" type="submit" value="회원가입">
                    </div>
                </div>
            </form>

    </div>
</body>
<center>
    <img src="/static/DH1.png" width="10%">
</center>