
<style>
        body{
            margin:50px;
            padding:20px;          
        }
        div{
            border:10px black;
            border-style: ridge none solid none;
            border-width: 3px 3px 3px 3px;
            border-color:black black black black;
    
        }
        </style>

    <br>

    {%if search_category2 == '그시절' %}
        <img src="/static/그시절.png">
    {%else%}
        <img src="/static/오늘날.png">
    {%endif%}<br>
    <div>
            {%for p in post%}
            <p>글 번호 | {{p.id}}</p>
            <p>카테고리 | {{p.category}} </p>
            <a href="{%url 'read' p.id %}">{{p.title}}</a>
            <br>
            <p>글 작성 시간 | {{p.created_at}}</p>
            <hr>
        </div>
    {%endfor%}
    </div>
    <br>
    <br>
    <a href="{%url 'index'%}"><button>돌아가기</button></a>