<!doctype>
<a href="{%url 'index'%}"><img src="/static/DH1.png"></img></a><br />
<h1>글쓰기 페이지</h1>
<hr>

<form action="{%url 'create'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <p>글제목</p>
    <input type="text" name="title">
    <p>글내용</p>
    <textarea name="content" cols="30" rows="10"></textarea><br>
    <select name="category">
            <option value="대구광역시">대구광역시</option>
            <option value="경산">경산시</option>
    </select>
    <select name="category2">
        <option value="그시절">그시절</option>
        <option value="오늘날">오늘날</option>
    </select>
        <input type="text" value="{{lat}}" name="lat">
    <input type="text" value="{{lng}}" name="lng"><br>
    <input type="file" name="pic">

    
    

    <br><input type="submit" value="글쓰기">
</form>