<style>
        body{
            margin:50px;
            padding:20px;            
        }
        div{
    
        }
        </style>

<img src="/static/DH3.png">

<form action="{%url 'CScreate'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <p>글 제목</p>
    <input type="text" name="title">
    <p>글 내용</p>
    <textarea name="content" cols="30" rows="10"></textarea>
    <br>
    <input type="file" name="pic">
    <br>
    <br>
    <select name="category">
            <option value="문의">문의</option>
            <option value="신고">신고</option>
        </select>
    <input type="checkbox" name="anonymous" value="y">
    <span style="font-size: 0.9em;">익명</span>
    <input type="submit" value="글쓰기">
</form>