<style>
        body{
            margin:50px;
            padding:20px;            
        }
        div{
            border:10px black;
            border-style: solid solid solid solid;
            border-width: 1.1px 1.1px 1.1px 1.1px;
            border-color:black black black black;
            padding:100px
        }
        </style>

<img src="/static/DH3.png">
<h3>제목 | {{post.title2}}</h3>
{%if post.anonymous2 == True%}
        <p>글쓴이 | 익명</p>
    {%else%}
        <p>글쓴이 | {{post.user}}</p>
    {%endif%}

<div>
        {%if post.pic2%}
        <img src="{{post.pic2.url}}"> 
        <br>
        {%endif%}
        {{post.content2|linebreaksbr}}
</div>
<br>
<br>
<br>
{% if request2.user == post2.user or requewt.user.is_staff %}
    <a href="{%url 'CSupdate' post.id%}"><button type="button">수정하기</button></a>
    <a href="{%url 'CSdelete' post.id%}"><button type="button">삭제하기</button></a>
    {%endif%}
<a href="{%url 'CService'%}"><button type="button" class="btn btn-outline-primary">돌아가기</button></a>
