<style>
        body{
            margin:50px;
            padding:20px;            
        }
        div{
    
        }
        </style>
<img src="/static/DH3.png">
<h1>글 수정</h1>
<form action="{%url 'CSupdate' post.id%}" method="POST"> 
        {%csrf_token%}
        <p>글 제목</p>
        <input type="text" name="title" value = "{{post.title}}"> 
        <p>글 내용</p>
        <textarea name="content"cols="30" rows="10">{{post.content}}</textarea> 

        <select name="category">
                <option value="{{post.category}}">{{post.category}}</option>
                {% if post.category == "문의" %}
                    <option value="신고">신고</option>
                {% endif %}
                {% if post.category == "신고" %}
                    <option value="문의">문의</option>
                {% endif %}
        </select>
        <input type="submit" value="글 수정">

</form>